.buttons-group {
  display: flex;
  justify-content: space-between;

  button {
    background-color: $--color-info;
    color: $--color-primary;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    border-color: $--color-info;
    margin-left: 0!important;

    &:hover {
      background-color: $--color-primary;
      color: #fff;
      border-color: $--color-primary;
    }
  }
}